.pitch-details-container1 {
  padding: 0; 
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center; 
  min-height: 10vh;
}

.pitch-image-container {
  margin: 0; 
  padding: 0; 
  width: 100%; 
}

.pitch-image {
  width: 100%; 
  height: 450px;
  object-fit: cover; 
  margin-top: -49px;
  margin-bottom: 15px;
}

.pitch-details-title1 {
  font-size: 29px;
  color: #bf0707;
  margin-bottom: 10px; 
  text-align: center;  
  width: 100%;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 25px;
}

.pitch-info-card1 {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 30px;
  width: 80%;
  max-width: 1150px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 4px; 
}

.pitch-info-title1 {
  font-size: 33px;
  color: #007bff;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: left;  
  width: 100%;
  margin-bottom: 15px;
  grid-column: span 2; 
}

.pitch-info-location1,
.pitch-info-contact1,
.pitch-info-industry1,
.pitch-info-stage1,
.pitch-info-investor-role1,
.pitch-info-amount1,
.pitch-info-investment1,
.pitch-info-business1,
.pitch-info-market1,
.pitch-info-progress1,
.pitch-info-objective1 {
  font-size: 17px;
  color: #555;
  margin: 12px 0;
  padding: 12px;
  border: 1px solid #ddd; 
  border-radius: 8px;
  background-color: #f7f7f7; 
  text-align: left;  
  width: 94%;
}

.pitch-info-location1 strong,
.pitch-info-contact1 strong,
.pitch-info-industry1 strong,
.pitch-info-stage1 strong,
.pitch-info-investor-role1 strong,
.pitch-info-amount1 strong,
.pitch-info-investment1 strong,
.pitch-info-business1 strong,
.pitch-info-market1 strong,
.pitch-info-progress1 strong,
.pitch-info-objective1 strong {
  color: #333;
  font-weight: bold;
  font-size: 19px;
}


.pitch-info-objective1 {
  text-align: justify;  
  grid-column: span 2; 
  background-color: #fafafa; 
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}


.view-profile-button {
  background-color: #cd1111;
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  width: 270px;
  margin-bottom: 22px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;              
  text-decoration: none;      
  font-weight: normal;       
}

.view-profile-button:hover {
  background-color: #c95052;
}



/* Mobile responsiveness */
@media (max-width: 768px) {
  .pitch-info-card1 {
    width: 90%;
    padding: 15px;
    grid-template-columns: 1fr; 
  }

  .pitch-details-title1 {
    font-size: 1.6rem;
  }

  .pitch-info-title1 {
    font-size: 1.5rem;
  }

  .pitch-info-location1,
  .pitch-info-contact1,
  .pitch-info-industry1,
  .pitch-info-stage1,
  .pitch-info-investor-role1,
  .pitch-info-amount1,
  .pitch-info-investment1,
  .pitch-info-business1,
  .pitch-info-market1,
  .pitch-info-progress1,
  .pitch-info-objective1 {
    font-size: 0.9rem;
  }
}
